.seat {
    border: 1px solid #d2d2d2;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 24px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.form-container {
    padding: 8px;
    margin: 3px;
}

.title {
    padding: 30px;
    text-align: center;
}

.hall-row-7 {
    text-align: center;
    width: 238px;
    height: 24px;
    margin: auto;
}

.hall-row-8 {
    text-align: center;
    width: 272px;
    height: 24px;
    margin: auto;
}

.hall-row-9 {
    text-align: center;
    width: 306px;
    height: 24px;
    margin: auto;
}

.main{
    background-color: #5372b5;
}

.main-container {
    background-color: #f8f8f8;
    border: 2px solid #909090;
}